$def with (log)

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    </head>
<body>
    <form method="post"> 
        <button name="cancel"><img src="static/icons/svc_back.png" align="absmiddle" title="Cancel" alt="Cancel"> Back to home page</button>
        <button name="reload"><img src="static/icons/svc_refresh.png" align="absmiddle" title="Refresh" alt="Refresh"> Refresh log</button>
    </form>
    <H3>Log:</H3>
    <PRE>
$log
    </PRE>
    <p></p>
</body>
</html>
