$def with ()

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    </head>
<body>
    <H3>Really reboot?</H3>
    <form method="post"> 
        <button name="reboot"><img src="static/icons/svc_reboot.png" align="absmiddle" title="Reboot" alt="Reboot"> Reboot</button>
        <button name="cancel"><img src="static/icons/svc_delall.png" align="absmiddle" title="Cancel" alt="Cancel"> Cancel</button>
    </form>
    <p></p>
</body>
</html>
